= render partial: 'layouts/sub_nav'
- @properties_users.each do |interest|
  = render partial: 'lands/property_thumb', locals: {property: interest.property, user: interest.user}
- if @properties_users.next_page
  = link_to 'show more', interests_lands_path(page: params[:page].present? ? params[:page].to_i + 1 : 2), remote: true, class: 'more-interests-link'