- @properties.each do |p|
  = render partial: 'offices/property_thumb', locals: {property: p}
.clearfix
.pagination-container
  = will_paginate @properties, renderer: WillPaginate::ActionView::BootstrapLinkRenderer