= link_to 'Add My Profile', new_servent_path, class: 'action-button new-property'
.clearfix
= render partial: 'servents/filter'
.properties
  = render partial: 'properties', locals: {properties: @properties}
.clearfix