= link_to 'Add Property', new_property_path, class: 'action-button new-property'
.clearfix
.properties
  - @properties.each do |p|
    = render partial: 'properties/property_thumb', locals: {property: p}
