.home {
  width: 100%;
  overflow: auto;
}
.banner {
  width: 100%;
  padding-top: 27%;
  background-size: cover;
  position: relative;
  background-position: center;
}
.logo {
  position: absolute;
  top: 10%;
  left: 10%;
  font-weight: bold;
}
@media screen and (min-width: 601px) {
  .logo {
    font-size: 4vw;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    font-size: 24px;
  }
  .banner {
    padding-top: 40%;
  }
}
.search {
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  max-width: 324px;
  margin: auto;
  margin-bottom: 5px;
}
.footer {
  width: 100%;
}
.contact_us {
  width: 100%;
  max-width: 300px;
  margin: auto;
  font-size: 22px;
}
.contact_us h3 {
  font-weight: normal;
}
.search input:focus {
  outline: none;
}
.home .properties {
  width: 100%;
}
.footer {
  width: 100%;
  background-image: linear-gradient(180deg, black, #201111c4);
  color: yellow;
  padding: 12px;
  line-height: 18px;
  font-weight: 200;
}
.footer a {
  color: yellow;
}
.caption {
  padding: 0px 12px;
  color: #ffffff;
  line-height: 29px;
  background: #27221a69;
  overflow: auto;
}
input.search {
  border: 1px solid blue;
}
.contact_us.form {
  
  padding: 12px;
  margin-bottom: 12px;
  margin-bottom: 12px;
  max-width: 300px;
}
.logo {
  position: absolute;
  top: 10%;
  left: 6%;
  font-weight: bold;
  color: #4d4856;
  padding: 0px 2%;
  background: linear-gradient(90deg, black, #e3f10c);
  border-radius: 4px;
  border-bottom: 4px solid black;
}
.logo .first {
  background-color: #f0ff00;
}
.logo-section.last, .logo-section {
  display: inline-block;
  padding: 0px 3px;  
  color: black;
}
.contact_us input {
  height: 35px;
}
.contact_us textarea {
  height: 120px;
}
abbr {
  display: none;
}
.mapouter {
  margin: auto;
  margin-bottom: 12px;
  border: 1px solid white;
  background-color: white;
}
.footer-2 {
  padding-top: 23px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.contact_us_form {
  line-height: 27px;
}
.center {
  margin: auto;
}
input[type='submit'] {
  padding: 5px 12px !important;
}
.no-results-message {
  margin-top: 12px;
}