.home {
  width: 100%;
  overflow: auto;
}
.banner {
  width: 100%;
  background-image: url('banner.jpg');
  padding-top: 30%;
  background-size: cover;
  position: relative;
}
.logo {
  position: absolute;
  top: 10%;
  left: 10%;
  font-weight: bold;
}
@media screen and (min-width: 601px) {
  .logo {
    font-size: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    font-size: 30px;
  }
}
.search {
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  max-width: 324px;
  margin: auto;
}
.footer {
  width: 100%;
}
.contact_us {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.search input:focus {
  outline: none;
}
.home .properties {
  width: 100%;
}
.footer {
  width: 100%;
  background-image: linear-gradient(180deg, black, #201111c4);
  color: yellow;
  padding: 12px;
  line-height: 18px;
  font-weight: 200;
}
.footer a {
  color: yellow;
}
.caption {
  padding: 0px 12px;
  color: #eedfdf;
  text-shadow: 0 0 14px #000000b8, 0 0 14px #000000b5;
}
input.search {
  border: 1px solid blue;
}