.action-button {
  float: right;
  background: yellow;
  padding: 12px;
  margin: 12px;
  border-radius: 6px;
}
.property-form-container {
  margin: 12px;
  background: white;
  padding: 12px;
}
.image-holder {
  width: 100%;
  padding-top: 60%;
  background-size: cover;
}
.property-thumb {
  padding: 12px !important;
}
.property {
  background: azure;
  border-radius: 12px;
  overflow: hidden;
}
.property-details {
  padding: 12px;
  overflow: auto;
}
.property-detail {
  display: inline-block;
  float: left;
  padding: 0px 4px;
}