.action-button, .interests {
  float: right;
  background: #f2f64f;
  padding: 3px 12px;
  margin: 5px;
  border-radius: 6px;
  color: black;
  text-decoration: none;
}
.action-button:hover {
  box-shadow: 1px 1px 10px red;
  text-decoration: none;
}
.property-form-container {
  margin: 12px;
  background: white;
  padding: 12px;
}
.image-holder {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}
.property-thumb {
  padding: 0px !important;
}
.property {
  background: #e3e7e7;
  overflow: hidden;
}
.properties {
  background-image: radial-gradient(#67f35d, #000000fc);
  background-attachment: fixed;
  overflow: auto;
}
.details {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #000000b0;
  color: white;
}
.property-details {
  padding: 3px 12px;
  overflow: auto;
  text-align: center;
}
.property-detail {
  display: inline-block;
  padding: 0px 4px;
  font-size: 80%;
}
.filter-container {
  margin: 6px 0px;
  padding: 8px;
}
.filter {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.budget-filter {
  margin-bottom: 12px;
}
.budget-filter .filter-field {
  width: 44%;
  max-width: 200px;
}
.filter-field {
  border-radius: 4px;
  border: 1px solid #919195;
}
.property-action-link {
  padding-left: 6px;
}
.land-mass-filter label, .land-mass-filter input {
  display: block;
  width: 90%;
}
.land-mass-filter {
  display: inline-block;
  width: 49%;
}
.to {
  text-align: center;
}
.visible-caption {
  background: #000000a3;
  color: white;
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 86%;
}
.property-expand {
  background-color: #c7babaf0;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 0px 5px #b3b3dd;
  padding: 3%;
}
.property-expand h1, .property-expand h2, .property-expand h4 {
  text-align: center;
  margin-top: 20px;
}
.property-show {
  width: 100%;
}
.photos img {
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
.photos {
  width: 100%;
  overflow: auto;
}
.interest-button {
  margin: auto;
  width: 185px;
  margin-bottom: 20px;
  margin-bottom: 20px;
}
.interest-button-container {
  width: 100%;
  display: grid;
}
.pagination-container {
  margin-left: 12px;
}
.states {
  background-color: #ffffffaa;
}
.interests-container {
}
.interest {
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px;
  box-shadow: 0px 0px 6px #1b1b4f85;
}
.place-filter-field, .brand, .model {
  border-radius: 6px;
  border: 1px solid #919195;
  width: 99% !important;
}
.suggestions {
  min-width: 240px;
  position: absolute;
  background: white;
  margin-left: 12px;
  margin-top: 12px;
  border-radius: 8px;
  z-index: 999999;
  color: black;
}
.suggestion {
  padding: 3px 8px;
  width: 100%;
  display: block;
  border-bottom: 1px solid;
}
.suggestion:last-child {
  border-bottom: none;
}
.filter-container .h3 {
  text-align: center;
}
.subnav {
  padding: 3%;
}
.subnav-item {
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.highlight.state {
  background: #292691a8;
}
.highlight.subnav-item img{
  border: 4px solid blue;
}
.subnav-item:hover {
  background-image: radial-gradient(#d7daed82, transparent);
}
.sub-nav-ico img {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
}
.sub-nav-ico {
  text-align: center;
  text-decoration: none;
}
.property-category:hover {
  text-decoration: none;
}
.user-interests {
  padding: 12px;
}
.sub-nav-ico {
  color: black;
  text-decoration: none;
}
.sub-nav-ico:hover {
  color: red;
  text-decoration: none !important;
}
.more-interests-link {
  width: 150px;
  margin-top: 12px;
  margin: auto;
  display: block;
  padding: 12px;
  text-align: center;
  background-image: linear-gradient(45deg, #8d5656, #171a6afc);
  margin-bottom: 9px;
  overflow: auto;
  color: white;
}
.sub-nav-ico {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.no-results-message {
  padding: 20px;
  color: white;
}
.states {
  background-color: #000000db;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.state {
  padding: 12px;
}
.property-assets {
  width: 100%;
}
.property-assets img {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: block;
}
.new-property-asset-form {
  padding: 12px;
  margin-top: 12px;
}
.posted-by {
  font-weight: bold;
}
.property-page {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}
.property-page .filter-container {
  background: #110f0bd4;
  color: white;
}
.property-page .subnav {
  background: #300707e8;
  background-color: #ffffffdb;
}
.seen {
  border: 1px solid black;
  background-image: linear-gradient(blue, black);
  color: white;
}
.seen .seen-link {
  display: none;
}
.unseen .unseen-link {
  display: none;
}
.message {
  background: white;
  margin: 12px;
  padding: 12px;
  overflow: auto;
  border: 1px solid;
}
.message .content {
  padding: 12px;
  border: 1px solid;
  border-radius: 8px;
}
.message.seen {
  background: blue;
}
.white {
  color: white;
  background-color: #0000008a;
}
.wide {
  width: 100%;
}
.property-category {
  display: block;
  padding: 8px;
  margin-top: 4px;
  background: #422e8229;
  color: #16260d;
  border: 1px solid blue;
  border-radius: 10px;
}
.highlight-cat {
  color: red !important;
}
.breakdown {
  display: none;
}
a.notification {
  padding: 12px;
  background: #1d4fdc;
  display: block;
  color: white;
  margin: 1px;
}