.action-button {
  float: right;
  background: yellow;
  padding: 12px;
  margin: 12px;
  border-radius: 6px;
}
.property-form-container {
  margin: 12px;
  background: white;
  padding: 12px;
}
.image-holder {
  position: relative;
  width: 100%;
  padding-top: 60%;
  background-size: cover;
}
.property-thumb {
  padding: 12px !important;
}
.property {
  border: 1px solid white;
  background: azure;
  border-radius: 12px;
  overflow: hidden;
}
.property-details {
  padding: 12px;
  overflow: auto;
}
.property-detail {
  display: inline-block;
  float: left;
  padding: 0px 4px;
}
.filter-container {
  margin: 12px;
  padding: 12px;
  background-color: #ffffff87;
}
.filter {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.budget-filter .filter-field {
  width: 44%;
  max-width: 200px;
}
.filter-field {
  border-radius: 4px;
  border: 1px solid #919195;
}
.property-action-link {
  padding-left: 6px;
}
.land-mass-filter label, .land-mass-filter input {
  display: block;
  width: 100%;
}
.land-mass-filter {
  display: inline-block;
  width: 49%;
}
.to {
  text-align: center;
}
.visible-caption {
  background: #000000a3;
  color: white;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}