.logo-holder .logo {
  margin-top: 12px;
  position: relative;
  top: unset;
  left: unset;
}
.logo-holder {
  margin: auto;
  margin-top: 12px;
}
.us {
  margin: auto;
  background-image: linear-gradient(45deg, #090916, #160707b5);
  overflow: auto;
  padding-bottom: 12px;
}
.us-container {
  width: 100%;
  overflow: auto;
}
.message-us {
  padding: 12px;
  border: 1px solid white;
  color: white;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
}
.message-us:hover {
  text-decoration: none !important;
  background-color: white;
  color: black;
}
.message-form-container {
  padding: 12px 12px 0px 12px;
  color: white;
  margin: auto;
}
.links {
  margin: auto;
}
.links, .links a {
  color: white !important;
}
.map-container {
  width: 100%;
  margin-top: 4px;
}
.social-links a {
  width: 100%;
}
.us i {
  margin-right: 4px;
  border: 1px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  color: #030927;
  background: #ed4747;
}
.home-link {
  margin: auto;
}
.us .header {
  padding: 12px;
  color: white;
}
.contact_us a {
  border: 1px solid #f2ed1385;
  box-shadow: 0px 0px 7px black, 0px 0px 2px black;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(45deg, black, #96914d4d);
}
.contact_us a:hover {
  text-decoration: none !important;
}