= link_to 'list a Car', new_car_path, class: 'action-button new-property'
.clearfix
= render partial: 'cars/filter'
.properties
  = render partial: 'properties', locals: {properties: @properties}
.clearfix