- @properties_users.each do |interest|
  = render partial: 'lands/property_thumb', locals: {property: interest.property, user: interest.user}
- if @properties_users.length == 12
  = link_to 'show more', properties_users_path(page: params[:page].present? ? params[:page].to_i + 1 : 2), remote: true, class: 'more-interests-link'